@import '../../variables.scss';

.App {
  padding: 30px;
  height: 100vh;
  background: url('../../img/bg_main.png');
}
.navbar {
  margin: 20px auto;
  padding: 0 30px;
  max-width: 1000px;
  height: 70px;
  border-radius: 5px;
  background: #fff;
  box-shadow: -1px -1px 10px 2px rgba(61, 67, 66, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    margin: 0;
    font-size: 14px;
    color: $text-color;
    text-decoration: none;
  }
}
.footer__link {
  margin-left: 20px;
  font-size: 14px;
  color: $text-color;
  cursor: pointer;
}
@media (max-width: 767px) {
  .navbar {
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}
@media (max-width: 436px) { 
  .App {
    padding: 30px 15px 15px 15px;
  }
  .navbar {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  footer {
    flex-direction: column;
  }
}


