@import '../../variables.scss';

.btn__group {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: 0 20px;
    height: 40px;
    background-color: $pink;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    text-transform: uppercase;
}
.btn-outline-light {
   outline:none;
}