@import '../../variables.scss';

.btn__group {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn {
    padding: 0 20px;
    height: 40px;
    background-color: $pink;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color;
    text-transform: uppercase;
}
.btn-outline-light {
   outline:none;
}

@media (max-width: 1023px) {
    .btn {
        padding: 0 10px;
        font-size: 14px;
    }
}
@media (max-width: 436px) {
    .btn__group {
        width: 280px;
        font-size: 12px;
        margin-bottom: 7px;
    }
  }